.google-maps {
  position: relative;
  padding-bottom: 50%;
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}


link {
  transition: all 0.2s ease;
  transition-property: transform, opacity, color, border-color, background-color;
}

@media only screen and (max-width: 767px) {
  .ui.stackable.buttons{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .ui.stackable.buttons > .button{
    width: 100%;
  }
}
